--
-- PostgreSQL database dump
--

\restrict u0Y2zVP0ZL3GSExCFaoMJH2jM2erx4PWTE9whhz68olnjf0LTT3CigeQLchAbfc

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.activity_logs (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    date timestamp with time zone NOT NULL,
    description text NOT NULL,
    category character varying(100),
    user_id character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.activity_logs OWNER TO "user";

--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.activity_logs_id_seq OWNER TO "user";

--
-- Name: activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.activity_logs_id_seq OWNED BY public.activity_logs.id;


--
-- Name: ai_analysis_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_analysis_history (
    id integer NOT NULL,
    development_id character varying(50),
    analysis_type character varying(100) NOT NULL,
    query_text text NOT NULL,
    context_used json,
    ai_response text NOT NULL,
    ai_model character varying(50) NOT NULL,
    tokens_used integer,
    response_time_ms integer,
    user_id character varying(50),
    confidence_score numeric(3,2),
    was_helpful boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ai_analysis_history OWNER TO "user";

--
-- Name: ai_analysis_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.ai_analysis_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_analysis_history_id_seq OWNER TO "user";

--
-- Name: ai_analysis_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.ai_analysis_history_id_seq OWNED BY public.ai_analysis_history.id;


--
-- Name: ai_context_cache; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_context_cache (
    id integer NOT NULL,
    context_key character varying(255) NOT NULL,
    development_id character varying(50),
    context_type character varying(50) NOT NULL,
    context_data json NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone NOT NULL,
    access_count integer,
    last_accessed_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ai_context_cache OWNER TO "user";

--
-- Name: ai_context_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.ai_context_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_context_cache_id_seq OWNER TO "user";

--
-- Name: ai_context_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.ai_context_cache_id_seq OWNED BY public.ai_context_cache.id;


--
-- Name: ai_model_configs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_model_configs (
    id integer NOT NULL,
    model_name character varying(50) NOT NULL,
    provider character varying(50) NOT NULL,
    is_active boolean,
    max_tokens integer,
    temperature numeric(3,2),
    cost_per_input_token numeric(10,8),
    cost_per_output_token numeric(10,8),
    rate_limit_per_minute integer,
    context_window integer,
    specialization text,
    configuration json,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.ai_model_configs OWNER TO "user";

--
-- Name: ai_model_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.ai_model_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_model_configs_id_seq OWNER TO "user";

--
-- Name: ai_model_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.ai_model_configs_id_seq OWNED BY public.ai_model_configs.id;


--
-- Name: ai_recommendations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_recommendations (
    id integer NOT NULL,
    development_id character varying(50),
    recommendation_type character varying(100) NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    priority character varying(20),
    impact_score numeric(3,2),
    effort_score numeric(3,2),
    ai_confidence numeric(3,2),
    status character varying(50),
    implementation_notes text,
    assigned_to character varying(255),
    due_date date,
    implemented_at timestamp with time zone,
    results_feedback text,
    generated_by character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.ai_recommendations OWNER TO "user";

--
-- Name: ai_recommendations_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.ai_recommendations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_recommendations_id_seq OWNER TO "user";

--
-- Name: ai_recommendations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.ai_recommendations_id_seq OWNED BY public.ai_recommendations.id;


--
-- Name: ai_usage_metrics; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_usage_metrics (
    id integer NOT NULL,
    user_id character varying(50),
    ai_model character varying(50) NOT NULL,
    operation_type character varying(100) NOT NULL,
    tokens_input integer,
    tokens_output integer,
    cost_estimate numeric(10,4),
    response_time_ms integer,
    success boolean,
    error_message text,
    context_size integer,
    created_at timestamp with time zone DEFAULT now(),
    date_partition date DEFAULT CURRENT_DATE
);


ALTER TABLE public.ai_usage_metrics OWNER TO "user";

--
-- Name: ai_usage_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.ai_usage_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_usage_metrics_id_seq OWNER TO "user";

--
-- Name: ai_usage_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.ai_usage_metrics_id_seq OWNED BY public.ai_usage_metrics.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "user";

--
-- Name: auth_tokens; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.auth_tokens (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    token_hash character varying(255) NOT NULL,
    token_type character varying(50) NOT NULL,
    name character varying(255),
    expires_at timestamp with time zone NOT NULL,
    last_used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.auth_tokens OWNER TO "user";

--
-- Name: auth_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.auth_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_tokens_id_seq OWNER TO "user";

--
-- Name: auth_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.auth_tokens_id_seq OWNED BY public.auth_tokens.id;


--
-- Name: auth_users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.auth_users (
    id character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean,
    email_verified boolean,
    avatar_url character varying(500),
    timezone character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    last_login timestamp with time zone
);


ALTER TABLE public.auth_users OWNER TO "user";

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    session_id integer NOT NULL,
    content text NOT NULL,
    sender character varying(50) NOT NULL,
    message_type character varying(50),
    message_metadata json,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.chat_messages OWNER TO "user";

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_messages_id_seq OWNER TO "user";

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: chat_sessions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.chat_sessions (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    title character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.chat_sessions OWNER TO "user";

--
-- Name: chat_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.chat_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chat_sessions_id_seq OWNER TO "user";

--
-- Name: chat_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.chat_sessions_id_seq OWNED BY public.chat_sessions.id;


--
-- Name: development_dates; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_dates (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    date_type character varying(50) NOT NULL,
    planned_date date,
    actual_date date,
    days_estimated integer,
    days_actual integer,
    delivery_status character varying(50),
    approval_status character varying(50),
    functionality_count integer,
    production_deployment_date date,
    delivery_compliance_score numeric(5,2),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_dates OWNER TO "user";

--
-- Name: development_dates_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_dates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_dates_id_seq OWNER TO "user";

--
-- Name: development_dates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_dates_id_seq OWNED BY public.development_dates.id;


--
-- Name: development_delivery_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_delivery_history (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    delivery_version character varying(50),
    delivery_type character varying(50),
    delivery_date date,
    delivery_status character varying(50),
    return_reason text,
    return_count integer,
    approval_date date,
    approved_by character varying(255),
    quality_score numeric(5,2),
    defects_reported integer,
    defects_resolved integer,
    delivery_notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_delivery_history OWNER TO "user";

--
-- Name: development_delivery_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_delivery_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_delivery_history_id_seq OWNER TO "user";

--
-- Name: development_delivery_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_delivery_history_id_seq OWNED BY public.development_delivery_history.id;


--
-- Name: development_functionalities; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_functionalities (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    functionality_name character varying(255) NOT NULL,
    functionality_code character varying(100),
    description text,
    status character varying(50),
    delivery_date date,
    defects_count integer,
    test_coverage_percentage numeric(5,2),
    complexity_level character varying(20),
    estimated_hours numeric(8,2),
    actual_hours numeric(8,2),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_functionalities OWNER TO "user";

--
-- Name: development_functionalities_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_functionalities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_functionalities_id_seq OWNER TO "user";

--
-- Name: development_functionalities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_functionalities_id_seq OWNED BY public.development_functionalities.id;


--
-- Name: development_installers; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_installers (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    installer_number character varying(100),
    version character varying(50),
    environment character varying(100),
    installation_date date,
    status character varying(50),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.development_installers OWNER TO "user";

--
-- Name: development_installers_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_installers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_installers_id_seq OWNER TO "user";

--
-- Name: development_installers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_installers_id_seq OWNED BY public.development_installers.id;


--
-- Name: development_kpi_metrics; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_kpi_metrics (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    metric_type character varying(100) NOT NULL,
    provider character varying(100),
    period_start date,
    period_end date,
    value numeric(10,2),
    target_value numeric(10,2),
    calculated_at timestamp with time zone DEFAULT now(),
    calculated_by character varying(255),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.development_kpi_metrics OWNER TO "user";

--
-- Name: development_kpi_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_kpi_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_kpi_metrics_id_seq OWNER TO "user";

--
-- Name: development_kpi_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_kpi_metrics_id_seq OWNED BY public.development_kpi_metrics.id;


--
-- Name: development_observations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_observations (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    observation_type character varying(50) NOT NULL,
    content text NOT NULL,
    author character varying(255),
    observation_date timestamp with time zone DEFAULT now(),
    is_current boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_observations OWNER TO "user";

--
-- Name: development_observations_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_observations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_observations_id_seq OWNER TO "user";

--
-- Name: development_observations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_observations_id_seq OWNED BY public.development_observations.id;


--
-- Name: development_phases; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_phases (
    id integer NOT NULL,
    phase_name character varying(100) NOT NULL,
    phase_description text,
    phase_color character varying(20),
    is_active boolean,
    sort_order integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_phases OWNER TO "user";

--
-- Name: development_phases_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_phases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_phases_id_seq OWNER TO "user";

--
-- Name: development_phases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_phases_id_seq OWNED BY public.development_phases.id;


--
-- Name: development_proposals; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_proposals (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    proposal_number character varying(100) NOT NULL,
    cost numeric(15,2),
    status character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_proposals OWNER TO "user";

--
-- Name: development_proposals_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_proposals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_proposals_id_seq OWNER TO "user";

--
-- Name: development_proposals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_proposals_id_seq OWNED BY public.development_proposals.id;


--
-- Name: development_providers; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_providers (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    provider_name character varying(100) NOT NULL,
    side_service_point character varying(100),
    provider_system character varying(100),
    status character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_providers OWNER TO "user";

--
-- Name: development_providers_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_providers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_providers_id_seq OWNER TO "user";

--
-- Name: development_providers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_providers_id_seq OWNED BY public.development_providers.id;


--
-- Name: development_quality_controls; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_quality_controls (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    control_catalog_id integer NOT NULL,
    control_code character varying(20) NOT NULL,
    status character varying(50),
    validation_status character varying(50),
    completed_by character varying(255),
    completed_at timestamp with time zone,
    validated_by character varying(255),
    validated_at timestamp with time zone,
    deliverables_provided text,
    validation_notes text,
    rejection_reason text,
    evidence_files text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    deliverables_completed text
);


ALTER TABLE public.development_quality_controls OWNER TO "user";

--
-- Name: development_quality_controls_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_quality_controls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_quality_controls_id_seq OWNER TO "user";

--
-- Name: development_quality_controls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_quality_controls_id_seq OWNED BY public.development_quality_controls.id;


--
-- Name: development_quality_metrics; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_quality_metrics (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    provider character varying(100),
    metric_type character varying(100) NOT NULL,
    metric_name character varying(255) NOT NULL,
    value numeric(10,2),
    target_value numeric(10,2),
    unit character varying(20),
    calculation_method character varying(100),
    period_start date,
    period_end date,
    calculated_at timestamp with time zone DEFAULT now(),
    calculated_by character varying(255),
    is_current boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_quality_metrics OWNER TO "user";

--
-- Name: development_quality_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_quality_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_quality_metrics_id_seq OWNER TO "user";

--
-- Name: development_quality_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_quality_metrics_id_seq OWNED BY public.development_quality_metrics.id;


--
-- Name: development_responsibles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_responsibles (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    user_name character varying(255) NOT NULL,
    role_type character varying(50) NOT NULL,
    area character varying(100),
    is_primary boolean,
    assigned_date date,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.development_responsibles OWNER TO "user";

--
-- Name: development_responsibles_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_responsibles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_responsibles_id_seq OWNER TO "user";

--
-- Name: development_responsibles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_responsibles_id_seq OWNED BY public.development_responsibles.id;


--
-- Name: development_stages; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_stages (
    id integer NOT NULL,
    phase_id integer NOT NULL,
    stage_code character varying(20) NOT NULL,
    stage_name character varying(255) NOT NULL,
    stage_description text,
    is_milestone boolean,
    estimated_days integer,
    responsible_party character varying(100),
    sort_order integer,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_stages OWNER TO "user";

--
-- Name: development_stages_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_stages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_stages_id_seq OWNER TO "user";

--
-- Name: development_stages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_stages_id_seq OWNED BY public.development_stages.id;


--
-- Name: development_status_history; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_status_history (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    progress_stage character varying(100),
    change_date timestamp with time zone DEFAULT now(),
    changed_by character varying(255),
    previous_status character varying(50),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.development_status_history OWNER TO "user";

--
-- Name: development_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_status_history_id_seq OWNER TO "user";

--
-- Name: development_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_status_history_id_seq OWNED BY public.development_status_history.id;


--
-- Name: development_test_results; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_test_results (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    functionality_id integer,
    test_type character varying(50) NOT NULL,
    test_phase character varying(50),
    test_date date,
    test_status character varying(50),
    defects_found integer,
    defects_severity character varying(50),
    test_coverage numeric(5,2),
    execution_time_hours numeric(8,2),
    tester_name character varying(255),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_test_results OWNER TO "user";

--
-- Name: development_test_results_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_test_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_test_results_id_seq OWNER TO "user";

--
-- Name: development_test_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_test_results_id_seq OWNED BY public.development_test_results.id;


--
-- Name: development_upcoming_activities; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.development_upcoming_activities (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    activity_type character varying(100) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    due_date date NOT NULL,
    responsible_party character varying(100) NOT NULL,
    responsible_person character varying(255),
    status character varying(50),
    priority character varying(20),
    alert_sent boolean,
    completed_at timestamp with time zone,
    created_by character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.development_upcoming_activities OWNER TO "user";

--
-- Name: development_upcoming_activities_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.development_upcoming_activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.development_upcoming_activities_id_seq OWNER TO "user";

--
-- Name: development_upcoming_activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.development_upcoming_activities_id_seq OWNED BY public.development_upcoming_activities.id;


--
-- Name: developments; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.developments (
    id character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    module character varying(100),
    type character varying(50),
    environment character varying(100),
    remedy_link text,
    current_phase_id integer,
    current_stage_id integer,
    stage_progress_percentage numeric(5,2),
    general_status character varying(50),
    estimated_end_date date,
    provider character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    responsible character varying(255)
);


ALTER TABLE public.developments OWNER TO "user";

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.incidents (
    id integer NOT NULL,
    development_id character varying(50) NOT NULL,
    report_date timestamp with time zone NOT NULL,
    resolution_date timestamp with time zone,
    description text NOT NULL,
    severity character varying(50),
    impact character varying(50),
    status character varying(50),
    assigned_to character varying(255),
    is_production_derived boolean,
    incident_type character varying(50),
    severity_level character varying(20),
    response_time_hours numeric(8,2),
    resolution_time_hours numeric(8,2),
    is_rework boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.incidents OWNER TO "user";

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.incidents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.incidents_id_seq OWNER TO "user";

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    resource character varying(100) NOT NULL,
    action character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permissions OWNER TO "user";

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO "user";

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: quality_control_catalog; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.quality_control_catalog (
    id integer NOT NULL,
    control_code character varying(20) NOT NULL,
    control_name character varying(255) NOT NULL,
    description text NOT NULL,
    stage_prefix character varying(50) NOT NULL,
    stage_description character varying(255),
    deliverables text,
    validation_criteria text,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    responsible_party character varying(50)
);


ALTER TABLE public.quality_control_catalog OWNER TO "user";

--
-- Name: quality_control_catalog_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.quality_control_catalog_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.quality_control_catalog_id_seq OWNER TO "user";

--
-- Name: quality_control_catalog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.quality_control_catalog_id_seq OWNED BY public.quality_control_catalog.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.role_permissions (
    role character varying(50) NOT NULL,
    permission_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.role_permissions OWNER TO "user";

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.system_settings (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    category character varying(100) NOT NULL,
    key character varying(100) NOT NULL,
    value text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.system_settings OWNER TO "user";

--
-- Name: system_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.system_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_settings_id_seq OWNER TO "user";

--
-- Name: system_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.system_settings_id_seq OWNED BY public.system_settings.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    session_token character varying(255) NOT NULL,
    ip_address character varying(45),
    user_agent text,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_sessions OWNER TO "user";

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_sessions_id_seq OWNER TO "user";

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: activity_logs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs ALTER COLUMN id SET DEFAULT nextval('public.activity_logs_id_seq'::regclass);


--
-- Name: ai_analysis_history id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_analysis_history ALTER COLUMN id SET DEFAULT nextval('public.ai_analysis_history_id_seq'::regclass);


--
-- Name: ai_context_cache id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_context_cache ALTER COLUMN id SET DEFAULT nextval('public.ai_context_cache_id_seq'::regclass);


--
-- Name: ai_model_configs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_model_configs ALTER COLUMN id SET DEFAULT nextval('public.ai_model_configs_id_seq'::regclass);


--
-- Name: ai_recommendations id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_recommendations ALTER COLUMN id SET DEFAULT nextval('public.ai_recommendations_id_seq'::regclass);


--
-- Name: ai_usage_metrics id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_usage_metrics ALTER COLUMN id SET DEFAULT nextval('public.ai_usage_metrics_id_seq'::regclass);


--
-- Name: auth_tokens id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_tokens ALTER COLUMN id SET DEFAULT nextval('public.auth_tokens_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: chat_sessions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_sessions ALTER COLUMN id SET DEFAULT nextval('public.chat_sessions_id_seq'::regclass);


--
-- Name: development_dates id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_dates ALTER COLUMN id SET DEFAULT nextval('public.development_dates_id_seq'::regclass);


--
-- Name: development_delivery_history id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_delivery_history ALTER COLUMN id SET DEFAULT nextval('public.development_delivery_history_id_seq'::regclass);


--
-- Name: development_functionalities id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_functionalities ALTER COLUMN id SET DEFAULT nextval('public.development_functionalities_id_seq'::regclass);


--
-- Name: development_installers id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_installers ALTER COLUMN id SET DEFAULT nextval('public.development_installers_id_seq'::regclass);


--
-- Name: development_kpi_metrics id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_kpi_metrics ALTER COLUMN id SET DEFAULT nextval('public.development_kpi_metrics_id_seq'::regclass);


--
-- Name: development_observations id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_observations ALTER COLUMN id SET DEFAULT nextval('public.development_observations_id_seq'::regclass);


--
-- Name: development_phases id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_phases ALTER COLUMN id SET DEFAULT nextval('public.development_phases_id_seq'::regclass);


--
-- Name: development_proposals id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_proposals ALTER COLUMN id SET DEFAULT nextval('public.development_proposals_id_seq'::regclass);


--
-- Name: development_providers id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_providers ALTER COLUMN id SET DEFAULT nextval('public.development_providers_id_seq'::regclass);


--
-- Name: development_quality_controls id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_controls ALTER COLUMN id SET DEFAULT nextval('public.development_quality_controls_id_seq'::regclass);


--
-- Name: development_quality_metrics id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_metrics ALTER COLUMN id SET DEFAULT nextval('public.development_quality_metrics_id_seq'::regclass);


--
-- Name: development_responsibles id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_responsibles ALTER COLUMN id SET DEFAULT nextval('public.development_responsibles_id_seq'::regclass);


--
-- Name: development_stages id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_stages ALTER COLUMN id SET DEFAULT nextval('public.development_stages_id_seq'::regclass);


--
-- Name: development_status_history id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_status_history ALTER COLUMN id SET DEFAULT nextval('public.development_status_history_id_seq'::regclass);


--
-- Name: development_test_results id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_test_results ALTER COLUMN id SET DEFAULT nextval('public.development_test_results_id_seq'::regclass);


--
-- Name: development_upcoming_activities id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_upcoming_activities ALTER COLUMN id SET DEFAULT nextval('public.development_upcoming_activities_id_seq'::regclass);


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: quality_control_catalog id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.quality_control_catalog ALTER COLUMN id SET DEFAULT nextval('public.quality_control_catalog_id_seq'::regclass);


--
-- Name: system_settings id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN id SET DEFAULT nextval('public.system_settings_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.activity_logs (id, development_id, date, description, category, user_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ai_analysis_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.ai_analysis_history (id, development_id, analysis_type, query_text, context_used, ai_response, ai_model, tokens_used, response_time_ms, user_id, confidence_score, was_helpful, created_at) FROM stdin;
\.


--
-- Data for Name: ai_context_cache; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.ai_context_cache (id, context_key, development_id, context_type, context_data, created_at, expires_at, access_count, last_accessed_at) FROM stdin;
\.


--
-- Data for Name: ai_model_configs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.ai_model_configs (id, model_name, provider, is_active, max_tokens, temperature, cost_per_input_token, cost_per_output_token, rate_limit_per_minute, context_window, specialization, configuration, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ai_recommendations; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.ai_recommendations (id, development_id, recommendation_type, title, description, priority, impact_score, effort_score, ai_confidence, status, implementation_notes, assigned_to, due_date, implemented_at, results_feedback, generated_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ai_usage_metrics; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.ai_usage_metrics (id, user_id, ai_model, operation_type, tokens_input, tokens_output, cost_estimate, response_time_ms, success, error_message, context_size, created_at, date_partition) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alembic_version (version_num) FROM stdin;
812831bb3379
\.


--
-- Data for Name: auth_tokens; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.auth_tokens (id, user_id, token_hash, token_type, name, expires_at, last_used_at, created_at) FROM stdin;
\.


--
-- Data for Name: auth_users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.auth_users (id, email, password_hash, name, role, is_active, email_verified, avatar_url, timezone, created_at, updated_at, last_login) FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.chat_messages (id, session_id, content, sender, message_type, message_metadata, created_at) FROM stdin;
\.


--
-- Data for Name: chat_sessions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.chat_sessions (id, user_id, title, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_dates; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_dates (id, development_id, date_type, planned_date, actual_date, days_estimated, days_actual, delivery_status, approval_status, functionality_count, production_deployment_date, delivery_compliance_score, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_delivery_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_delivery_history (id, development_id, delivery_version, delivery_type, delivery_date, delivery_status, return_reason, return_count, approval_date, approved_by, quality_score, defects_reported, defects_resolved, delivery_notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_functionalities; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_functionalities (id, development_id, functionality_name, functionality_code, description, status, delivery_date, defects_count, test_coverage_percentage, complexity_level, estimated_hours, actual_hours, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_installers; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_installers (id, development_id, installer_number, version, environment, installation_date, status, created_at) FROM stdin;
\.


--
-- Data for Name: development_kpi_metrics; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_kpi_metrics (id, development_id, metric_type, provider, period_start, period_end, value, target_value, calculated_at, calculated_by, created_at) FROM stdin;
\.


--
-- Data for Name: development_observations; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_observations (id, development_id, observation_type, content, author, observation_date, is_current, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_phases; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_phases (id, phase_name, phase_description, phase_color, is_active, sort_order, created_at, updated_at) FROM stdin;
1	En Ejecuci├│n	Fase donde se realizan actividades activas de desarrollo	info	t	1	2025-09-15 18:00:37.198929+00	\N
2	En Espera	Fase donde el desarrollo est├í pausado esperando decisiones o aprobaciones	warning	t	2	2025-09-15 18:00:37.198929+00	\N
3	Finales / Otros	Estados terminales del desarrollo (exitoso o cancelado)	success	t	3	2025-09-15 18:00:37.198929+00	\N
\.


--
-- Data for Name: development_proposals; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_proposals (id, development_id, proposal_number, cost, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_providers; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_providers (id, development_id, provider_name, side_service_point, provider_system, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_quality_controls; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: development_quality_metrics; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_quality_metrics (id, development_id, provider, metric_type, metric_name, value, target_value, unit, calculation_method, period_start, period_end, calculated_at, calculated_by, is_current, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_responsibles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_responsibles (id, development_id, user_name, role_type, area, is_primary, assigned_date, created_at) FROM stdin;
\.


--
-- Data for Name: development_stages; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: development_status_history; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_status_history (id, development_id, status, progress_stage, change_date, changed_by, previous_status, created_at) FROM stdin;
\.


--
-- Data for Name: development_test_results; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_test_results (id, development_id, functionality_id, test_type, test_phase, test_date, test_status, defects_found, defects_severity, test_coverage, execution_time_hours, tester_name, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: development_upcoming_activities; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.development_upcoming_activities (id, development_id, activity_type, title, description, due_date, responsible_party, responsible_person, status, priority, alert_sent, completed_at, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: developments; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.incidents (id, development_id, report_date, resolution_date, description, severity, impact, status, assigned_to, is_production_derived, incident_type, severity_level, response_time_hours, resolution_time_hours, is_rework, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.permissions (id, name, description, resource, action, created_at) FROM stdin;
\.


--
-- Data for Name: quality_control_catalog; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.role_permissions (role, permission_id, created_at) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.system_settings (id, user_id, category, key, value, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.user_sessions (id, user_id, session_token, ip_address, user_agent, expires_at, created_at) FROM stdin;
\.


--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 1, false);


--
-- Name: ai_analysis_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.ai_analysis_history_id_seq', 1, false);


--
-- Name: ai_context_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.ai_context_cache_id_seq', 1, false);


--
-- Name: ai_model_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.ai_model_configs_id_seq', 1, false);


--
-- Name: ai_recommendations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.ai_recommendations_id_seq', 1, false);


--
-- Name: ai_usage_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.ai_usage_metrics_id_seq', 1, false);


--
-- Name: auth_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.auth_tokens_id_seq', 1, false);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 1, false);


--
-- Name: chat_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.chat_sessions_id_seq', 1, false);


--
-- Name: development_dates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_dates_id_seq', 1, false);


--
-- Name: development_delivery_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_delivery_history_id_seq', 1, false);


--
-- Name: development_functionalities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_functionalities_id_seq', 1, false);


--
-- Name: development_installers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_installers_id_seq', 1, false);


--
-- Name: development_kpi_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_kpi_metrics_id_seq', 30, true);


--
-- Name: development_observations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_observations_id_seq', 7, true);


--
-- Name: development_phases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_phases_id_seq', 3, true);


--
-- Name: development_proposals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_proposals_id_seq', 1, false);


--
-- Name: development_providers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_providers_id_seq', 1, false);


--
-- Name: development_quality_controls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_quality_controls_id_seq', 16, true);


--
-- Name: development_quality_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_quality_metrics_id_seq', 1, false);


--
-- Name: development_responsibles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_responsibles_id_seq', 1, false);


--
-- Name: development_stages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_stages_id_seq', 11, true);


--
-- Name: development_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_status_history_id_seq', 4, true);


--
-- Name: development_test_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_test_results_id_seq', 1, false);


--
-- Name: development_upcoming_activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.development_upcoming_activities_id_seq', 1, false);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.incidents_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: quality_control_catalog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.quality_control_catalog_id_seq', 4, true);


--
-- Name: system_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.system_settings_id_seq', 1, false);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: ai_analysis_history ai_analysis_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_analysis_history
    ADD CONSTRAINT ai_analysis_history_pkey PRIMARY KEY (id);


--
-- Name: ai_context_cache ai_context_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_context_cache
    ADD CONSTRAINT ai_context_cache_pkey PRIMARY KEY (id);


--
-- Name: ai_model_configs ai_model_configs_model_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_model_configs
    ADD CONSTRAINT ai_model_configs_model_name_key UNIQUE (model_name);


--
-- Name: ai_model_configs ai_model_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_model_configs
    ADD CONSTRAINT ai_model_configs_pkey PRIMARY KEY (id);


--
-- Name: ai_recommendations ai_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_recommendations
    ADD CONSTRAINT ai_recommendations_pkey PRIMARY KEY (id);


--
-- Name: ai_usage_metrics ai_usage_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_usage_metrics
    ADD CONSTRAINT ai_usage_metrics_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: auth_tokens auth_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_tokens
    ADD CONSTRAINT auth_tokens_pkey PRIMARY KEY (id);


--
-- Name: auth_users auth_users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_users
    ADD CONSTRAINT auth_users_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_sessions chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: development_dates development_dates_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_dates
    ADD CONSTRAINT development_dates_pkey PRIMARY KEY (id);


--
-- Name: development_delivery_history development_delivery_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_delivery_history
    ADD CONSTRAINT development_delivery_history_pkey PRIMARY KEY (id);


--
-- Name: development_functionalities development_functionalities_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_functionalities
    ADD CONSTRAINT development_functionalities_pkey PRIMARY KEY (id);


--
-- Name: development_installers development_installers_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_installers
    ADD CONSTRAINT development_installers_pkey PRIMARY KEY (id);


--
-- Name: development_kpi_metrics development_kpi_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_kpi_metrics
    ADD CONSTRAINT development_kpi_metrics_pkey PRIMARY KEY (id);


--
-- Name: development_observations development_observations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_observations
    ADD CONSTRAINT development_observations_pkey PRIMARY KEY (id);


--
-- Name: development_phases development_phases_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_phases
    ADD CONSTRAINT development_phases_pkey PRIMARY KEY (id);


--
-- Name: development_proposals development_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_proposals
    ADD CONSTRAINT development_proposals_pkey PRIMARY KEY (id);


--
-- Name: development_providers development_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_providers
    ADD CONSTRAINT development_providers_pkey PRIMARY KEY (id);


--
-- Name: development_quality_controls development_quality_controls_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_controls
    ADD CONSTRAINT development_quality_controls_pkey PRIMARY KEY (id);


--
-- Name: development_quality_metrics development_quality_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_metrics
    ADD CONSTRAINT development_quality_metrics_pkey PRIMARY KEY (id);


--
-- Name: development_responsibles development_responsibles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_responsibles
    ADD CONSTRAINT development_responsibles_pkey PRIMARY KEY (id);


--
-- Name: development_stages development_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_stages
    ADD CONSTRAINT development_stages_pkey PRIMARY KEY (id);


--
-- Name: development_status_history development_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_status_history
    ADD CONSTRAINT development_status_history_pkey PRIMARY KEY (id);


--
-- Name: development_test_results development_test_results_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_test_results
    ADD CONSTRAINT development_test_results_pkey PRIMARY KEY (id);


--
-- Name: development_upcoming_activities development_upcoming_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_upcoming_activities
    ADD CONSTRAINT development_upcoming_activities_pkey PRIMARY KEY (id);


--
-- Name: developments developments_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.developments
    ADD CONSTRAINT developments_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: quality_control_catalog quality_control_catalog_control_code_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.quality_control_catalog
    ADD CONSTRAINT quality_control_catalog_control_code_key UNIQUE (control_code);


--
-- Name: quality_control_catalog quality_control_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.quality_control_catalog
    ADD CONSTRAINT quality_control_catalog_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role, permission_id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_session_token_key UNIQUE (session_token);


--
-- Name: ix_activity_logs_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_activity_logs_id ON public.activity_logs USING btree (id);


--
-- Name: ix_ai_analysis_history_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_ai_analysis_history_id ON public.ai_analysis_history USING btree (id);


--
-- Name: ix_ai_context_cache_context_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_ai_context_cache_context_key ON public.ai_context_cache USING btree (context_key);


--
-- Name: ix_ai_context_cache_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_ai_context_cache_id ON public.ai_context_cache USING btree (id);


--
-- Name: ix_ai_model_configs_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_ai_model_configs_id ON public.ai_model_configs USING btree (id);


--
-- Name: ix_ai_recommendations_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_ai_recommendations_id ON public.ai_recommendations USING btree (id);


--
-- Name: ix_ai_usage_metrics_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_ai_usage_metrics_id ON public.ai_usage_metrics USING btree (id);


--
-- Name: ix_auth_tokens_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_auth_tokens_id ON public.auth_tokens USING btree (id);


--
-- Name: ix_auth_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_auth_users_email ON public.auth_users USING btree (email);


--
-- Name: ix_chat_messages_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_chat_messages_id ON public.chat_messages USING btree (id);


--
-- Name: ix_chat_sessions_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_chat_sessions_id ON public.chat_sessions USING btree (id);


--
-- Name: ix_development_dates_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_dates_id ON public.development_dates USING btree (id);


--
-- Name: ix_development_delivery_history_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_delivery_history_id ON public.development_delivery_history USING btree (id);


--
-- Name: ix_development_functionalities_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_functionalities_id ON public.development_functionalities USING btree (id);


--
-- Name: ix_development_installers_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_installers_id ON public.development_installers USING btree (id);


--
-- Name: ix_development_kpi_metrics_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_kpi_metrics_id ON public.development_kpi_metrics USING btree (id);


--
-- Name: ix_development_observations_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_observations_id ON public.development_observations USING btree (id);


--
-- Name: ix_development_phases_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_phases_id ON public.development_phases USING btree (id);


--
-- Name: ix_development_proposals_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_proposals_id ON public.development_proposals USING btree (id);


--
-- Name: ix_development_providers_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_providers_id ON public.development_providers USING btree (id);


--
-- Name: ix_development_quality_controls_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_quality_controls_id ON public.development_quality_controls USING btree (id);


--
-- Name: ix_development_quality_metrics_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_quality_metrics_id ON public.development_quality_metrics USING btree (id);


--
-- Name: ix_development_responsibles_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_responsibles_id ON public.development_responsibles USING btree (id);


--
-- Name: ix_development_stages_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_stages_id ON public.development_stages USING btree (id);


--
-- Name: ix_development_status_history_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_status_history_id ON public.development_status_history USING btree (id);


--
-- Name: ix_development_test_results_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_test_results_id ON public.development_test_results USING btree (id);


--
-- Name: ix_development_upcoming_activities_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_development_upcoming_activities_id ON public.development_upcoming_activities USING btree (id);


--
-- Name: ix_incidents_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_incidents_id ON public.incidents USING btree (id);


--
-- Name: ix_permissions_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_permissions_id ON public.permissions USING btree (id);


--
-- Name: ix_quality_control_catalog_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_quality_control_catalog_id ON public.quality_control_catalog USING btree (id);


--
-- Name: ix_system_settings_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_system_settings_id ON public.system_settings USING btree (id);


--
-- Name: ix_user_sessions_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_user_sessions_id ON public.user_sessions USING btree (id);


--
-- Name: activity_logs activity_logs_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: ai_analysis_history ai_analysis_history_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_analysis_history
    ADD CONSTRAINT ai_analysis_history_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: ai_analysis_history ai_analysis_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_analysis_history
    ADD CONSTRAINT ai_analysis_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- Name: ai_context_cache ai_context_cache_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_context_cache
    ADD CONSTRAINT ai_context_cache_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: ai_recommendations ai_recommendations_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_recommendations
    ADD CONSTRAINT ai_recommendations_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: ai_usage_metrics ai_usage_metrics_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_usage_metrics
    ADD CONSTRAINT ai_usage_metrics_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- Name: auth_tokens auth_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.auth_tokens
    ADD CONSTRAINT auth_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- Name: chat_messages chat_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.chat_sessions(id);


--
-- Name: chat_sessions chat_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- Name: development_dates development_dates_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_dates
    ADD CONSTRAINT development_dates_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_delivery_history development_delivery_history_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_delivery_history
    ADD CONSTRAINT development_delivery_history_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_functionalities development_functionalities_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_functionalities
    ADD CONSTRAINT development_functionalities_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_installers development_installers_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_installers
    ADD CONSTRAINT development_installers_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_kpi_metrics development_kpi_metrics_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_kpi_metrics
    ADD CONSTRAINT development_kpi_metrics_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_observations development_observations_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_observations
    ADD CONSTRAINT development_observations_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_proposals development_proposals_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_proposals
    ADD CONSTRAINT development_proposals_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_providers development_providers_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_providers
    ADD CONSTRAINT development_providers_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_quality_controls development_quality_controls_control_catalog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_controls
    ADD CONSTRAINT development_quality_controls_control_catalog_id_fkey FOREIGN KEY (control_catalog_id) REFERENCES public.quality_control_catalog(id);


--
-- Name: development_quality_controls development_quality_controls_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_controls
    ADD CONSTRAINT development_quality_controls_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_quality_metrics development_quality_metrics_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_quality_metrics
    ADD CONSTRAINT development_quality_metrics_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_responsibles development_responsibles_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_responsibles
    ADD CONSTRAINT development_responsibles_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_stages development_stages_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_stages
    ADD CONSTRAINT development_stages_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.development_phases(id);


--
-- Name: development_status_history development_status_history_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_status_history
    ADD CONSTRAINT development_status_history_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_test_results development_test_results_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_test_results
    ADD CONSTRAINT development_test_results_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: development_test_results development_test_results_functionality_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_test_results
    ADD CONSTRAINT development_test_results_functionality_id_fkey FOREIGN KEY (functionality_id) REFERENCES public.development_functionalities(id);


--
-- Name: development_upcoming_activities development_upcoming_activities_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.development_upcoming_activities
    ADD CONSTRAINT development_upcoming_activities_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: developments developments_current_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.developments
    ADD CONSTRAINT developments_current_phase_id_fkey FOREIGN KEY (current_phase_id) REFERENCES public.development_phases(id);


--
-- Name: developments developments_current_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.developments
    ADD CONSTRAINT developments_current_stage_id_fkey FOREIGN KEY (current_stage_id) REFERENCES public.development_stages(id);


--
-- Name: incidents incidents_development_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_development_id_fkey FOREIGN KEY (development_id) REFERENCES public.developments(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: system_settings system_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.auth_users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict u0Y2zVP0ZL3GSExCFaoMJH2jM2erx4PWTE9whhz68olnjf0LTT3CigeQLchAbfc

