services:
  backend:
    build:
      context: ./backend_v2
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/project_manager
      - ERP_DATABASE_URL=${ERP_DATABASE_URL:-postgresql://postgres:AdminSolid2025@192.168.0.21:5432/solid}
      - ENVIRONMENT=development
    volumes:
      - ./backend_v2:/app
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://192.168.40.36:8000/api/v2
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  adminer:
    image: adminer
    container_name: gestor-de-proyectos-ti-adminer
    restart: always
    ports:
      - "8085:8080"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=project_manager
    ports:
      - "5432:5432"

volumes:
  postgres_data:
