DROP FUNCTION IF EXISTS fn_kpi_cumplimiento_fechas_global(VARCHAR, DATE, DATE);

CREATE OR REPLACE FUNCTION fn_kpi_cumplimiento_fechas_global(
    p_provider VARCHAR(255) DEFAULT NULL,
    p_period_start DATE DEFAULT NULL,
    p_period_end DATE DEFAULT NULL
)
RETURNS TABLE(
    total_entregas BIGINT,
    entregas_a_tiempo BIGINT,
    entregas_tardias BIGINT,
    porcentaje_cumplimiento NUMERIC(5,2),
    provider_filter VARCHAR(255),
    period_start DATE,
    period_end DATE,
    calculated_at TIMESTAMP
)
LANGUAGE plpgsql
AS $$
BEGIN
    RETURN QUERY
    WITH compromisos_originales AS (
        SELECT 
            al1.development_id,
            CASE 
                WHEN LOWER(d.provider) LIKE '%ingesoft%' THEN 'Ingesoft'
                WHEN LOWER(d.provider) LIKE '%oracle%' THEN 'ORACLE'
                WHEN LOWER(d.provider) LIKE '%itc%' THEN 'ITC'
                WHEN LOWER(d.provider) LIKE '%interno%' OR LOWER(d.provider) LIKE '%ti interno%' THEN 'TI Interno'
                WHEN LOWER(d.provider) LIKE '%coomeva%' THEN 'Coomeva'
                WHEN LOWER(d.provider) LIKE '%softtek%' THEN 'Softtek'
                WHEN LOWER(d.provider) LIKE '%accenture%' THEN 'Accenture'
                WHEN LOWER(d.provider) LIKE '%microsoft%' THEN 'Microsoft'
                WHEN LOWER(d.provider) LIKE '%ibm%' THEN 'IBM'
                WHEN LOWER(d.provider) LIKE '%sap%' THEN 'SAP'
                WHEN d.provider IS NULL OR d.provider = '' THEN 'Sin Proveedor'
                ELSE TRIM(d.provider)
            END AS provider_homologado,
            al1.end_date as fecha_compromiso_original,
            al1.created_at as fecha_actividad_compromiso
        FROM development_activity_log al1
        INNER JOIN development_stages ds1 ON al1.stage_id = ds1.id
        INNER JOIN developments d ON al1.development_id = d.id
        WHERE ds1.stage_code = '5' 
            AND al1.status = 'completed'
            AND al1.end_date IS NOT NULL
            AND al1.activity_type = 'stage_completion'
            AND (p_period_start IS NULL OR al1.created_at::DATE >= p_period_start)
            AND (p_period_end IS NULL OR al1.created_at::DATE <= p_period_end)
            AND (p_provider IS NULL OR (
                CASE 
                    WHEN LOWER(d.provider) LIKE '%ingesoft%' THEN 'Ingesoft'
                    WHEN LOWER(d.provider) LIKE '%oracle%' THEN 'ORACLE'
                    WHEN LOWER(d.provider) LIKE '%itc%' THEN 'ITC'
                    WHEN LOWER(d.provider) LIKE '%interno%' OR LOWER(d.provider) LIKE '%ti interno%' THEN 'TI Interno'
                    WHEN LOWER(d.provider) LIKE '%coomeva%' THEN 'Coomeva'
                    WHEN LOWER(d.provider) LIKE '%softtek%' THEN 'Softtek'
                    WHEN LOWER(d.provider) LIKE '%accenture%' THEN 'Accenture'
                    WHEN LOWER(d.provider) LIKE '%microsoft%' THEN 'Microsoft'
                    WHEN LOWER(d.provider) LIKE '%ibm%' THEN 'IBM'
                    WHEN LOWER(d.provider) LIKE '%sap%' THEN 'SAP'
                    WHEN d.provider IS NULL OR d.provider = '' THEN 'Sin Proveedor'
                    ELSE TRIM(d.provider)
                END = p_provider
            ))
    ),
    entregas_finales AS (
        SELECT 
            al2.development_id,
            al2.end_date as fecha_real_entrega,
            al2.created_at as fecha_actividad_entrega
        FROM development_activity_log al2
        INNER JOIN development_stages ds2 ON al2.stage_id = ds2.id
        WHERE ds2.stage_code = '6'
            AND al2.status = 'completed'
            AND al2.activity_type = 'stage_completion'
    ),
    cumplimiento_calculado AS (
        SELECT 
            co.development_id,
            co.provider_homologado,
            co.fecha_compromiso_original,
            ef.fecha_real_entrega,
            CASE 
                WHEN ef.fecha_real_entrega IS NOT NULL AND ef.fecha_real_entrega <= co.fecha_compromiso_original THEN 1
                ELSE 0
            END as cumplio_flag
        FROM compromisos_originales co
        LEFT JOIN entregas_finales ef ON co.development_id = ef.development_id
            AND ef.fecha_actividad_entrega > co.fecha_actividad_compromiso
    )
    SELECT 
        COUNT(*)::BIGINT as total_entregas,
        SUM(cumplio_flag)::BIGINT as entregas_a_tiempo,
        (COUNT(*) - SUM(cumplio_flag))::BIGINT as entregas_tardias,
        CASE 
            WHEN COUNT(*) > 0 THEN ROUND((SUM(cumplio_flag) * 100.0 / COUNT(*)), 2)
            ELSE 0.00
        END as porcentaje_cumplimiento,
        p_provider as provider_filter,
        p_period_start,
        p_period_end,
        NOW() as calculated_at
    FROM cumplimiento_calculado;
END;
$$;
