@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Roboto+Mono:wght@300;400;500;700&display=swap');

/* Paleta de Colores Corporativa */
:root {
  --deep-navy: #002060;
  --powder-blue: #b4c6e7;
  --lavender: #d9e1f2;
  --white: #ffffff;
  --dust-grey: #d0d0d0;

  /* Mapeo de Aplicación - Modo Light */
  --color-primary: var(--deep-navy);
  --color-primary-500: var(--deep-navy);
  --color-primary-900: #001a4d;
  /* Darker navy for hover */
  --color-primary-light: var(--powder-blue);
  --color-secondary: var(--lavender);
  --color-background: var(--dust-grey);
  --color-surface: var(--white);
  --color-surface-variant: var(--lavender);
  --color-text-primary: #000000;
  --color-text-secondary: #374151;
  --color-border: #a1a1aa;

  /* Gris un poco más oscuro que d0d0d0 para contraste */

  --toast-bg: var(--white);
  --toast-color: var(--color-text-primary);
  --toast-border: var(--color-border);
}

.dark {
  /* Mapeo de Aplicación - Modo Dark */
  --color-primary: var(--powder-blue);
  --color-primary-500: var(--powder-blue);
  --color-primary-900: #93aed9;
  /* Darker blue for hover */
  --color-primary-light: var(--deep-navy);
  --color-secondary: var(--lavender);
  --color-background: #0a0e17;
  /* Navy Muy Oscuro */
  --color-surface: #121826;
  /* Navy Oscuro */
  --color-surface-variant: #1e293b;
  --color-text-primary: var(--white);
  --color-text-secondary: #f3f4f6;
  --color-border: #475569;

  --toast-bg: var(--color-surface);
  --toast-color: var(--color-text-primary);
  --toast-border: var(--color-border);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  @apply bg-[var(--color-background)] text-[var(--color-text-primary)] transition-colors duration-300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}